.features{
background-color: #181818;
display: flex;
justify-content: center;
align-items: center;
width: 100%;    
.container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 1400px;
    margin: 0 auto;
    padding-bottom: 162px;
    @include media(1060px){
        padding-bottom: 120px;
    }
    @include media(980px){
        padding-bottom: 90px;
    }
    
.title{
    margin: 0 auto;
width: 261px;
@include font(400, 52, 1.2);
color: $brend-color;
padding-bottom: 27px;
padding-top: 162px;  
@include media(980px){
    padding-top: 100px;
}
@include media(720px){
    padding-top: 162px;
}
}   

.text{margin: 0 auto;
    width: 582px;
    @include font(400, 20, 1.5);
    color: $brend-color;
    padding-bottom: 80px;
    @include media(720px){
        padding: 27px 0;
        width: 441px;
    }
} 
.features-info{position: relative;
    display: flex;
    justify-content: center;
    gap: 25px;
    @include media(1060px){
        width: 930px;
    }
    @include media(980px){
        width: 830px;
    }
    @include media(820px){
        width: 750px;
        gap: 10px;
    }
    @include media(720px){
        width: 350px;
        display: block;
        margin: 0 auto;
    }
    .info-img-wrp{
        display: flex;
        width: 752px;
        @include media(1060px){
            width: 600px;
        }
        @include media(980px){
            width: 520px;
        }
        @include media(820px){
            width: 420px;
        }
        @include media(720px){
            width: 330px;
            margin-bottom: 40px;
        }
    .wrp__img1{
        display: flex;
        width: 696px;
        position: relative;
        z-index: 0;
        @include media(1060px){
            width: 600px;
        }
        @include media(980px){
            width: 520px;
        }
        @include media(820px){
            width: 420px;
        }
        @include media(720px){
            width: 354px;
        }
    }  
    .wrp__img2{
        display: flex;
        width: 400px;
        position: absolute;
        right: 430px;
        top: 411px;
        z-index: 1;
        @include media(1060px){
            width: 350px;
         
        }
        @include media(980px){
            width: 300px;
        }
        @include media(820px){
            width: 250px;
        }
        @include media(720px){
            width: 230px;
            top: 200px;
            left: 80px;
        }
    }  
    }
.info__desc-wrp{
    flex-direction: column;
    width: 309px;
    align-items: center;
    @include media(980px){
        width: 280px;
    }
    @include media(780px){
        width: 200px;
    }
    @include media(720px){
        width: 354px;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        
    }
  .card{
        width: 269px;
        flex-direction: column;
        padding: 25px 20px;
        @include media(980px){
            width: 240px;
            padding: 20px 15px ;
        }
        @include media(820px){
            width: 180px;
            padding: 20px 15px ;
        }
        @include media(720px){flex-direction: column;
            width: 280px;
            padding: 20px 15px ;
            align-items: center;
        }
    .card-title{
        display: flex;
        align-items: center;
     img{
        width: 32px;
     }  
     .card__title{
        width: 155px;
        @include font(500, 20, 1.3);;
        color: $brend-color;
        padding: 10px;
     } 
    }  
    .card__text{
        width: 249px;
        @include font(400, 16, 1.5);
        color: $brend-color;
    }  
  }  
}    
}
} 
}