.header { 
    background-color: #000;

    .container {
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 20px;
@include media(1150px){
    padding: 0 18px;
}
        .header__top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 37px 0;
            @include media(1150px){
                padding: 35px 0;
            }
            @include media(910px){
                padding: 25px 0;
            }
            @include media(720px){
                width: 550px;
                display: flex;
                margin: 0 auto;
            }
            .logo {
                width: 206px;
            }

            ul {
                display: flex;
                align-items: center;
                gap: 31px;
                @include media(1200px){
                   gap: 28px;
                }
                @include media(910px){
                    gap: 20px;
                 }
                 @include media(720px){
                    display:  none;
                 }

                li {
                    padding: 10px;

                    &:hover {
                        border-bottom: 1px solid #fff;
                        @include font(600, 16, 1.5);
                        transition: all 0.3s ease-in;
                        
                    }

                    a {
                        @include font(500, 16, 1.5);
                        color: $brend-color;
                    }
                }
            }
.btns{
    @include media(720px){
        display: flex;
        align-items: center;
        gap: 20px;
    }
            .top__btn {
                @include font(500, 17, 1.7);
                letter-spacing: 0.2px;
                color: $brend-color;
                padding: 13px 46px;
                border: 1px solid #FFFFFF;
                background-color: #000;
                transition: all 0.3s ease-in-out;
                @include media(1150px){
                    @include font(600, 20, 1.7);
                    padding: 11px 43px;
                }
                @include media(980px){
                    @include font(500, 20, 1.7);
                    padding: 10px 40px;
                }

                &:hover {
                    @include font(700, 20, 1.7);
                    padding: 10px 40px;
                    cursor: pointer;
                    color: yellow;
                    border: 1px solid yellow;
                    transition: all 0.3s ease;
                } 
            }
            .menyu-btn{
                display: none;
                width: 66px;
                background-color: #000;
                @include media(720px){
                    display: flex;
                }
                &:hover{
                    cursor: pointer;
                  border: 1px solid yellow;
                }
            }
        }
        }

        .header__center {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-bottom: 40px;
            @include media(1150px){
               padding-bottom: 35px;
            }
            @include media(980px){
                padding-bottom: 25px;
             }
            .title {
                text-align: center;
                max-width: 700px;
                @include font(500, 85, 1.05);
                color: $brend-color;
                letter-spacing: 0.2px;
                padding: 60px 0 27px;
                @include media(1150px){
                    @include font(500, 70, 1);
                    padding:45px 0 20px ;
                }
                @include media(980px){
                    @include font(500, 70, 1);
                    padding:30px 0 15px ;
                }
                @include media(720px){
                    width: 294px;
                    @include font(400, 52, 1.2);
                    padding:30px 0 17px ;
                }
            }

            .text {
                padding: 10px 20px;
                max-width: 582px;
                @include font(400, 20, 1.5);
                color: $brend-color;
                text-align: center;
                padding-bottom: 70px;
                @include media(720px){
                    width: 382px;
                    @include font(400, 20, 1.5 )
                }
            }

            .center__btn {
                display: flex;
                align-items: center;
                gap: 35px;
                @include media(720px){
                    display: block;
                }

                button:first-child {
                    background-color: blue;
                    padding: 20px 40px;
                    @include font(500, 17, 1.5);
                    color: $brend-color;
                    border: none;
                    transition: all 0.3s ease-in-out;
                    @include media(1150px){
                        padding: 15px 30px;
                        @include font(450, 15, 1.5)
                    }
                    @include media(980px){
                        padding: 15px 25px;
                        @include font(400, 15, 1.5)
                    }
                }

                button {
                    padding: 20px 40px;
                    @include font(500, 17, 1.5);
                    color: $brend-color;
                    background-color: #000;
                    border: 1px solid #fff;
                    transition: all 0.3s ease-in-out;
                    @include media(1150px){
                        padding: 15px 30px;
                        @include font(450, 15, 1.5)
                    }
                    @include media(980px){
                        padding: 15px 25px;
                        @include font(400, 15, 1.5)
                    }
                    &:hover {
                        @include font(800, 17, 1.5);
                        transition: all 0.3s ease;
                    }
                }
            }
            .img-wrp {
                position: relative; 
                display: flex;
                justify-content: center;
                img {
                    width: 1400px;
                    z-index: 0;
                    padding: 35px 0 142px;
                    @include media(1350px){
                        width: 1100px;
                        padding-bottom: 50px;
                    }
                    @include media(1060px){
                        width: 970px;
                        padding-bottom: 20px;
                    }
                    @include media(980px){
                        width: 850px;
                        padding-bottom: 20px;
                    }
                    @include media(820px){
                        width: 750px;
                        padding-bottom: 20px;
                    }
                    @include media(720px){
                        width: 570px;
                        padding-bottom: 20px;
                    }
                    &:nth-child(2) {
                        position: absolute;
                        z-index: 1;
                        top: 444px; 
                        width:100%;

                        @include media(1350px){
                            width: 1100px;
                            top: 300px;
                        }
                        @include media(1060px){
                            width: 1060px;
                            top: 250px;
                        }
                        @include media(980px){
                            width: 980px;
                            top: 200px;
                        }
                        @include media(820px){
                            width: 820px;
                            top: 200px;
                        }
                        @include media(720px){
                            width: 720px;
                            top: 100px;
                        }
                    }
                }
            }
            
          
        }
    }
}
