.testimonials {
    background-color: #181818;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        padding-top: 100px;
        padding-bottom: 50px;

        @include media(800px) {
            padding-top: 50px;
            padding-bottom: 30px;
        }

        @include media(720px) {
            padding-top: 40px;
            padding-bottom: 25px;
        }

        .title {
            width: 304px;
            @include font(400, 52, 1.2);
            color: #fff;
            text-align: center;

            @include media(1060px) {
                width: 250px;
                @include font(350, 45, 1.2)
            }

            @include media(780px) {
                width: 230px;
                @include font(350, 40, 1.2)
            }
            @include media(720px) {
                width: 324px;
                @include font(400, 52, 1.2);
                padding: 50px 0;

            }
        }

        .card-wrp {
            margin-top: 60px;
            width: 883px;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;

            @include media(1060px) {
                width: 750px;
                gap: 17px;
                margin-top: 40px;
            }

            @include media(780px) {
                width: 700px;
                gap: 14px;
                margin-top: 25px;
            }

            @include media(720px) {
                width: 352px;
            }

            .card {
                width: 430px;
                border: 1px solid #fff;
                border-radius: 10px;
                padding: 40px;
                box-sizing: border-box;

                @include media(1060px) {
                    width: 360px;
                    padding: 20px;
                }

                @include media(780px) {
                    width: 330px;
                    padding: 20px;
                }  
                @include media(720px) {
                    width: 352px;
                    padding: 40px;
                    margin-bottom: 25px;
                }  

                .card__top {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    padding-bottom: 40px;

                    @include media(900px) {
                        padding-bottom: 20px;
                    }
                    @include media(720px) {
                        padding-bottom: 30px;
                    }

                    .top__img {
                        width: 50px;
                    }

                    .top__title {
                        width: 137px;
                        @include font(500, 16, 1.5);
                        color: $brend-color;
                        padding: 10px;
                    }
                }

                .text {
                    display: flex;
                    flex-direction: column;
                    width: 320px;
                    color: $brend-color;
                    @include font(400, 16, 1.5);

                    @include media(780px) {
                        width: 300px;
                    }
                    @include media(720px) {
                        width: 245px;
                    }

                    span {
                        color: $brend-color;
                        @include font(400, 16, 1.5);
                    }
                }
            }
        }
    }
}